USE [GummyKingdom]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/21/2017 1:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/21/2017 1:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Cost] [int] NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20170421203036_Initial', N'1.0.0-rtm-21431')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Cost], [Country], [Image], [Name]) VALUES (1, 5, N'USA', N'http://www.candywarehouse.com/assets/item/thumbnail/milk-choc-covered-gummi-bears-icon-128118-ic.jpg', N'Milk Chocolate Gummy bear')
INSERT [dbo].[Products] ([ProductId], [Cost], [Country], [Image], [Name]) VALUES (3, 3, N'Sweden', N'http://www.candywarehouse.com/assets/item/regular/12-flavor-gummi-bear-cubs-129929-w.jpg', N'Gourmet FLavours Gummy Bears , 5lb')
INSERT [dbo].[Products] ([ProductId], [Cost], [Country], [Image], [Name]) VALUES (6, 19, N'USA', N'http://www.candywarehouse.com/assets/item/regular/pink-gummy-bears-candy-126300-w.jpg', N'Pink StrawBerry, 5lb')
SET IDENTITY_INSERT [dbo].[Products] OFF
