@model IEnumerable<GummyKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummy Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1>Welcome to the Kingdom of Gummies!</h1>

<p>@Html.ActionLink("List of Products", "Index", "Products")</p>